.jumbotron {
  background-color: #78a79f;
  padding-top: 6rem;
}

#projects {
  background-color: #78a79f;
}

footer {
  background-color: #78a79f;
  color: #ffffff;
  font-weight: bold;
}

section {
  padding-top: 5rem;
}
